body{
    background-color: #5555DD;
    margin: 0px;
}
p{
    font-family: Comic Sans MS;
}
a{
    color: black;
    font-family: Comic Sans MS;
    text-decoration: none;
}
iframe{
    border-radius: 10px;
}

.blogContents{
    text-align: left;
    font-family: Comic Sans MS;
    margin-top: -6px;
    margin-left: 6px;
    font-style: normal;
}
.blogContents a{
    color: blue;
    text-decoration: underline;
}
.blogContents a:hover{
    color: red;
}
.background{
    background-color: #e5e5f7;
    opacity: 1;
    z-index: -10;
    background-image:  repeating-linear-gradient(45deg, #a7acff 25%, transparent 25%, transparent 75%, #a7acff 75%, #a7acff), repeating-linear-gradient(45deg, #a7acff 25%, #ffffff 25%, #ffffff 75%, #a7acff 75%, #a7acff);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;

    position:fixed;
    padding:0;
    margin:0;

    overflow: hidden;
    width: 200%;
    height: 200%;

    animation: backgroundScroll 5s linear infinite;
}
.headerBox{
    border: 3px solid black;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: lightskyblue;
    max-width: 90%;
    width: 700px;
    padding: 6px;
}
.box{
    border: 3px solid black;
    border-top: 0px;
    margin-top: 0px;
    padding: 6px;
    background-color: white;
    max-width: 90%;
    width: 700px;
}
.boxWidth{
    max-width: 90%;
    padding: 6px;
    width: 700px;
    pointer-events: none;
}

.mediaBox{
    background-color: white;
    margin-bottom: 6px;
    display: inline-block;
    padding: 6px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 3px;
}
.mediaBox img{
    height: 100px;
}
.mediaBox p{
    color: black;
    text-decoration: underline;
    font-family: Comic Sans MS;
    display: block;
    margin: 0px;
}

.mediaBox2{
    display: inline-block;
    background-color: white;
    margin-bottom: 6px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 3px;
    width: 150px;
    height: 100%;
}
.mediaBox2 img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.mediaBox2 p{
    color: black;
    text-decoration: underline;
    font-family: Comic Sans MS;
    display: block;
    margin: 0px;
}

.title{
    font-family: Comic Sans MS;
}
.titleLink{
    margin: 6px;
    text-decoration: underline;
}

.floatingHead{
    max-width: 400px;
    width: calc(50vw - 350px);
    min-width: 100px;
    animation: float 2s ease infinite;
}

@keyframes backgroundScroll{
    0%{
        margin-top: 0px;
        margin-left: 0px;
    }
    100%{
        margin-top: -100px;
        margin-left: -100px;
    }
}

@keyframes float{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: 100px;
    }
    100%{
        margin-top: 0px;
    }
}

@keyframes floatOut{
    0%{
        margin-top: 0%;
    }
    100%{
        margin-top: -100%;
    }
}